<html>
  <head>
  </head>
  <body>
    <div id="body">
      <div id="main" style="min-width: 400px; max-width: 1200px; margin: auto; font-family: 'Barlow', sans-serif; font-size: 12pt; line-height: 1.2; margin-top: 0pt; margin-bottom: 0pt;">

        <div id="header" style="background-color: #3313a8; float: left; width: 100%; padding: 0; margin: 0; color: #78f9c4; text-align: center;">

          <img height="90px" style="height: 90px; float: left" src="https://static.sciling.com/img/icons/arbol-factal-navidad.png">
          <img height="90px" style="height: 90px; float: right" src="https://static.sciling.com/img/icons/sciling-navidad.png">

        </div>

        <div style="clear: both; padding-top: 1em">
          Hace dos semanas nos preguntamos cómo podíamos felicitarte estas navidades de una manera original.
          Y se nos ocurrió que no había mejor manera de hacerlo que poniendo nuestra experiencia a tu servicio,
          no solo para felicitarte estas fiestas a ti, sino también para que tú puedas sorprender a tus seres queridos con una felicitación única.
        </div>

        <br>

        <div>
          Y es que es única porque tanto la imagen como el texto de la felicitación son generados mediante inteligencia artificial.
          Sube tu foto favorita, introduce algunas palabras clave, deja que nuestros algoritmos hagan su magia, envIA tu postal inteligente
          y triunfa estas navidades siendo el más original e innovador.
        </div>

        <br>

        <div>
          Nosotros lo hemos usado con esta icónica foto de los trabajadores en un rascacielos de Nueva York y con el texto explicativo que aparece en su página de la Wikipedia.
        </div>

        <br>

        <div>
          <img src="https://app.apollo.io/api/v1/attachments/63a1b4428f135f00a4172b09/download/" style="display:block; margin: auto; max-width: 100%" width="295">
        </div>

        <br>

        <div>
          Y este es el resultado. ¿Qué te parece? ¡A nosotros nos encanta!
        </div>

        <br>

        <div>
          <img src="https://app.apollo.io/api/v1/attachments/63a5682216d96800e39b506c/download/" style="display:block; margin: auto; max-width: 100%">
        </div>

        <br>

        <div>
          <a href="https://envia.postalesinteligentes.com/" rel="noopener noreferrer" target="_blank">
            <img src="https://app.apollo.io/api/v1/attachments/63a56e9de9105d00e3f17659/download/" style="display:block; margin: auto; max-width: 100%" width="275">
          </a>
        </div>

        <br>

        <div>
          ¿Quieres saber cómo lo hemos hecho y qué aplicaciones podría tener esta tecnología en sectores tan diversos como retail, Real Estate o Marketing?
          Te lo contamos en el siguiente post de nuestro blog <a href="https://sciling.com/envia-como-felicitar-la-navidad-con-inteligencia-artificial/">aquí</a>.
        </div>

        <br>
        <br>


        <div id="footer" style="background-color: #3313a8; height: 52px; width: 100%; color: #78f9c4; text-align: center;">
          <div id="siguenos" style="font-weight: bold; margin: 0; padding-top: 4px; font-size: 7pt;">Síguenos</div>
          <div id="menu-outer" style="font-weight: bold; margin: 0; padding-top: 4px;">
            <div class="table" style="display: table; margin: 0 auto;">
              <ul id="horizontal-list" style="width: 100%; list-style: none; padding: 0; margin: 0;">
                <li style="display: inline">
                  <a href="https://www.instagram.com/sciling.ai" class="instagram" alt="instagram" style="color: #78f9c4; margin-left: 4px; margin-right: 4px; content: 'A'; display: inline-block;">
                    <img height="16px" style="height: 16px !important" src="https://static.sciling.com/img/icons/instagram.png">
                  </a>
                </li>
                <li style="display: inline;">
                  <a href="https://twitter.com/scilingai" class="twitter" alt="twitter" style="color: #78f9c4; margin-left: 4px; margin-right: 4px; content: 'A'; display: inline-block;">
                    <img height="16px" style="height: 16px !important" src="https://static.sciling.com/img/icons/twitter.png">
                  </a>
                </li>
                <li style="display: inline;">
                  <a href="https://www.facebook.com/scilingai/" class="facebook" alt="facebook" style="color: #78f9c4; margin-left: 4px; margin-right: 4px; content: 'A'; display: inline-block;">
                    <img height="16px" style="height: 16px !important" src="https://static.sciling.com/img/icons/facebook.png">
                  </a>
                </li>
                <li style="display: inline;">
                  <a href="https://www.linkedin.com/company/scilingsl/" class="linkedin" alt="linkedin" style="color: #78f9c4; margin-left: 4px; margin-right: 4px; content: 'A'; display: inline-block;">
                    <img height="16px" style="height: 16px !important" src="https://static.sciling.com/img/icons/linkedin.png">
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div id="web" style="font-weight: bold; margin: 0; font-size: 6pt; text-decoration: underline; padding-top: 0px !important; padding-bottom: 2px;">
            <a href="https://sciling.com">
              <span style="color: #78f9c4; text-decoration: underline">www.sciling.com</span>
            </a>
          </div>
        </div>

      </div>
    </div>
  </body>

</html>
