<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="assets/img/ico-pv.svg" type="image/svg+xml">
    <link rel="stylesheet" href="assets/css/fonts.css">
    <link rel="stylesheet" href="assets/css/style2.css">
    <link rel="stylesheet" href="assets/css/slick-theme.css">
    <title>envIA your smart postcard</title>
    <meta name="title" content="envIA your smart postcard">
    <meta name="description"
        content="Surprise your friends and loved ones by sending them a postcard created just for you.">

    <meta property="og:type" content="website">
    <meta property="og:title" content="envIA your smart postcard">
    <meta property="og:url" content="https://envia.postalesinteligentes.com/">
    <meta property="og:image" content="https://envia.postalesinteligentes.com/assets/img/share.jpg">
    <meta property="og:description"
        content="Surprise your friends and loved ones by sending them a postcard created just for you.">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="http://soluciones.losdelvolcan.com/">
    <meta property="twitter:title" content="envIA your smart postcard">
    <meta property="twitter:description"
        content="Surprise your friends and loved ones by sending them a postcard created just for you.">
    <meta property="twitter:image" content="https://envia.postalesinteligentes.com/assets/img/share.jpg">
</head>

<body>
    <div class="page">
        <header>
            <a href="https://www.prodigiosovolcan.com/" target="_blank"><img src="assets/img/logo-pv.svg" class="logoPV"
                    alt="Logo Prodigioso Volcán" /></a>
            <a href="https://sciling.com/" target="_blank"><img src="assets/img/logo-sciling-big.svg"
                    class="logoSciling" alt="Logo Sciling" /></a>
        </header>
        <section class="intro">
            <div class="content">
                <h1>envIA</h1>
                <h2>Create your smart postcard</h2>
                <h3>We welcome you to envIA!</h3>
                <p>If you have come to give a more Christmas touch to your photos, you are looking for an original greeting or you want a combination of both, you are in the right place.</p>
                <span class="go-next"></span>
            </div>
        </section>
        <section class="form">
            <div class="content">
                <div class="content-form">
                    <h3>Let's go!</h3>
                    <div class="box lang">
                        <label for="">Choose a language for you postcard</label>
                        <img src="assets/img/arrow-black.svg" alt="">
                        <span class="option active" data-lang="en">ENG</span>
                        /
                        <span class="option" data-lang="es">ESP</span>
                    </div>
                    <div class="box text">
                        <label for="">What words do you want your congratulations to be based on?</label>
                        <textarea name="" id="" placeholder="A tale of a cold Christmas night with my friends"
                            cols="30" rows="10"></textarea>
                        <div class="validator"><span></span></div>
                        <p>Please note: The minimum number of characters is 50: <span class="total_chars">0</span>
                            characters.</p>
                    </div>
                    <div class="box file">
                        <div class="input-file">
                            <input type="file" id="image" accept="image/x-png,image/jpeg">
                            <label style="width: 95%">Upload your image</label>
                            <span>x</span>
                        </div>
                        <p>Select an image that includes people and a large background.</p>
                    </div>

                    <div class="actions">
                        <button>let's do magic!*</button>
                        <small>*Prodigioso Volcán and Sciling are not responsible for the improper use of the images.</small>
                    </div>
                </div>
                <div class="loader">
                    <img src="assets/img/ico-loader.svg" alt="">
                    <span id="percent-progress" class="percent">0%</span>
                    <div id="loader" class="progress"><span></span></div>
                    <p>One moment, please,<br>we are working magic.</p>
                </div>
                <div class="images-ia">
                    <h3>Choose your postcard and download it</h3>
                    <div class="slider">

                    </div>
                    <div class="actions">
                        <button>Download</button>
                    </div>
                </div>
            </div>
        </section>
        <section class="example">
            <div class="content">
                <h3>What will you get?</h3>
                <div class="content-example">
                    <div class="description">
                        <p>Our AI will generate <b>a unique greeting based on the words you specify</b>.
                        You can also upload an image and the artificial intelligence will give it the touch it needs to be a spectacular greeting.
                        </p>
                    </div>
                    <div class="before-after">
                        <img src="assets/img/before.jpg" alt="">
                        <img src="assets/img/after.jpg" alt="">
                    </div>
                </div>
                <h3>How does envIA work?</h3>
                <h4>envIA is a creative generator based on the latest advances in artificial intelligence and natural language processing.</h4>
                <div class="content-working">
                    <div class="buttons">
                        <button class="show-text active"><img src="assets/img/ico-text.svg" alt="">When you write a text</button>
                        <button class="show-img"><img src="assets/img/ico-img.svg" alt="">  When you upload an image</button>
                    </div>
                    <div class="description text active">
                        <p>When you type text into our system, we feed it into a machine learning model that has been pre-trained with millions of texts to learn to write in natural language.</p>

                        <p>The model captures the meaning and context of your words, and <b>is able to generate with them a grammatically correct, unedited, and? surprisingly coherent.</b></p>
                    </div>
                    <div class="description img">
                        <p>When you upload an image, we use an intelligent image-to-image model, which we communicate with with a simple instruction called a <b>prompt</b>. </p>
                        <p>In this case, we ask you to <b>combine the image you have uploaded with a celebratory style</b>, but respecting the people if they appear. The result is different every time and, above all, unpredictable.</p>
                    </div>
                </div>
            </div>
        </section>

        <div class="popup descarga">
            <div class="content">
                <span class="close"></span>
                <img src="assets/img/ico-popup.svg" alt="" />
                <div class="title">Thank you for using envIA!</div>
                <p>Now you can surprise your friends and loved ones or create more postcards to send. If you like the result, we encourage you to share it on social networks.  </p>
                <ul class="share">
                    <li><a href="https://www.facebook.com/sharer/sharer.php?u=https%3A//envia.sciling.com/&t=I've been creating postcards with envIA: the tool that transforms your photos and texts into unique greetings cards with artificial intelligence. Try it!"
                            target="_blank"><img src="assets/img/ico-fb.svg" alt=""></a></li>
                    <li><a href="https://twitter.com/intent/tweet?text=I've been creating postcards with envIA: the tool that transforms your photos and texts into unique greetings cards with artificial intelligence. Try it!%20%20https%3A//envia.sciling.com/"
                            target="_blank"><img src="assets/img/ico-tw.svg" alt=""></a></li>
                    <li><a href="https://www.linkedin.com/sharing/share-offsite/?url=https%3A//envia.sciling.com/&title=I've been creating postcards with envIA: the tool that transforms your photos and texts into unique greetings cards with artificial intelligence. Try it!"
                            target="_blank"><img src="assets/img/ico-in.svg" alt=""></a></li>
                    <li><a href="https://wa.me/?text=I've been creating postcards with envIA: the tool that transforms your photos and texts into unique greetings cards with artificial intelligence. Try it! https://envia.sciling.com/
" target="_blank"><img src="assets/img/ico-wa.svg" alt=""></a></li>
                </ul>
            </div>

        </div>

        <div class="popup error">
            <div class="content">
                <span class="close"></span>
                <img src="assets/img/ico-error.svg" alt="" />
                <div class="title">Oops, an error has occurred</div>
                <p>Check that everything is correct and if it is ok try again after a few minutes or try another image.
                </p>
            </div>

        </div>

        <footer>
            <div class="content">
                <div class="column">
                    <a href="https://www.prodigiosovolcan.com/" target="_blank"><img src="assets/img/logo-pv.svg"
                            class="logoPV" alt="Logo Prodigioso Volcán" /></a>
                </div>
                <div class="column hideRWD">
                    <p>envIA is a creative project of Prodigioso Volcán and Sciling.</p>
                </div>
                <div class="column">
                    <a href="https://sciling.com/" target="_blank"><img src="assets/img/logo-sciling-big.svg"
                            class="logoSciling" alt="Logo Sciling" /></a>
                </div>
            </div>
            <div class="content">
                <div class="column showRWD">
                    <p>envIA is a creative project of Prodigioso Volcán and Sciling.</p>
                </div>
                <div class="column">
                    <ul>
                        <li><a href="mailto:losdelvolcan@prodigiosovolcan.com">Contact</a></li>
                        <li><a href="https://www.prodigiosovolcan.com/aviso-legal-condiciones-uso/">Legal Notice</a>
                        </li>
                        <li><a href="https://www.prodigiosovolcan.com/politica-de-privacidad/">Privacy Policy</a></li>
                        <li><a href="#" id="open_preferences_center">Cookie Preferences</a></li>
                    </ul>
                </div>

                <div class="column">
                    <p>© 2022 ALL RIGHTS RESERVED</p>
                </div>
            </div>
        </footer>
    </div>

    <!-- Cookie Consent by TermsFeed https://www.TermsFeed.com -->
    <script type="text/javascript" src="https://www.termsfeed.com/public/cookie-consent/4.0.0/cookie-consent.js"
        charset="UTF-8"></script>
    <script type="text/javascript" charset="UTF-8">
        document.addEventListener('DOMContentLoaded', function () {
            cookieconsent.run({ "notice_banner_type": "headline", "consent_type": "express", "palette": "dark", "language": "en", "page_load_consent_levels": ["strictly-necessary"], "notice_banner_reject_button_hide": false, "preferences_center_close_button_hide": false, "page_refresh_confirmation_buttons": false });
        });
    </script>

    <!-- Google Analytics -->
    <!-- Google tag (gtag.js) -->
    <script type="text/plain" cookie-consent="strictly-necessary" async
        src="https://www.googletagmanager.com/gtag/js?id=G-7FJNHP9LLE"></script>
    <script type="text/plain" cookie-consent="strictly-necessary">
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-7FJNHP9LLE');
    </script>
    <!-- end of Google Analytics-->

    <noscript>Free cookie consent management tool by <a href="https://www.termsfeed.com/"
            rel="nofollow noopener">TermsFeed Policy Generator</a></noscript>
    <!-- End Cookie Consent by TermsFeed https://www.TermsFeed.com -->





    <!-- Below is the link that users can use to open Preferences Center to change their preferences. Do not modify the ID parameter. Place it where appropriate, style it as needed. -->


    <script src="https://code.jquery.com/jquery-3.6.2.min.js"></script>
    <script src="assets/js/beforeafter.jquery-1.0.0.min.js"></script>
    <script src="assets/js/loader.js"></script>
    <script src="assets/js/slick.min.js"></script>
    <script src="assets/js/functions.js"></script>

</body>

</html>
